.node{
    border: solid black     1px;
    background-color: rgb(194, 140, 248);
    height: 1rem;
    width: 1rem;
}
.node-start{
    background-color: rgba(32, 191, 107,1.0) ;
}
.node-end{
    background-color: rgba(214, 48, 49,1.0);
}
.visited{
    background-color:rgba(56, 103, 214,1.0);
}
.wall{
    background-color: black;
}
.path{
    background-color: rgba(253, 203, 110,1.0);
}
.weight{
    background-color: rgba(75, 101, 132,1.0)
}